<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{#if loggedIn}}
    {{else}}
    {{!-- <div class="col-md-6">
      <button id="login">Login</button>
      <button id="signup">Sign Up</button>
    </div> --}}
  {{/if}}
    <div id="logOutDiv">
      {{#if loggedIn}}
      <button id="logOut">Logout</button>
      
      {{/if}}
    </div>
    
    <div class="container">
      {{!-- {{#if loggedIn}} --}}
      {{{body}}}
      {{!-- {{/if}} --}}
    </div>
</body>

</html>





