<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    <div class="col-md-6">
    <button id="login">Login</button>
  </div>
    <div id="userName">
    <button id="name">{{name}}</button>
    {{#if loggedIn}}
    <button id="logOut">Logout</button>
    {{/if}}
    </div>
    {{{body}}}
</body>

</html>





