<h1 id="userName-text">{{userGet.name}}</h1>

{{#each scores as |score| }}
<div class="card row align-center mb-5" style="width: 18rem; background-color: black; color: white;">
  
  {{score.user.name}} with a score of {{score.score}}
  </div>
{{/each}}

<button id="back" class="btn btn-primary">Back</button>