{{#if loggedIn}}
<div class="container">
    <div id="gameWindow" class="row align-center my-5" tabindex="0">

    {{!-- <button id="startGame">Start</button>
    <btn id="highScores">Highscores</btn> --}}
    <h3 id="timer"> </h3>
    <h3 id="score"> </h3>

    {{!-- todo: replace with images of arrows rather than text --}}
    <h4 id="inputViewer"> </h4>

    <button id="startGame" class="btn btn-primary" onclick="app.start()">Start</button>

    </div>
    <button id="stats" class="btn btn-primary">Stats</button>
</div>


{{!-- {{#if loggedIn}} --}}
<script src="/js/index.js"></script>
{{else}}
{{/if}}

