<div id="gameWindow" class="row align-center mb-5">
    {{!-- <button id="startGame">Start</button>
    <btn id="highScores">Highscores</btn> --}}
    <h3 id="timer"> </h3>
    <button id="startGame" class="btn btn-primary" onclick="app.start()">Start</button>

</div>

{{!-- {{#if loggedIn}} --}}
<script src="/js/index.js"></script>
{{!-- {{/if}} --}}