<div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" id="email-login-text" >email:</label>
        <input class="form-input" type="text" />
      </div>
      <div class="form-group">
        <label for="password-login" id="password-login-text" >password:</label>
        <input class="form-input" type="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
</div>

<script src="./js/login.js"></script>