
<div>
    <h1 id="usersName"> {{user.name}} </h1>
    <div>
        <h2 id="highscore">Highest Score: {{highscore}} </h2>
        <h2 id="totalRuns">Runs: {{runs}} </h2>
    </div>
</div>

<button id="back" class="btn btn-primary">Back</button>


