<div class="row align-center mb-5">
  <div class="col-md-6">
    <btn id="Back" type="submit">Back</btn>
  </div>
  <div class="col-md-6">
    <button id="login">Login</button>
  </div>
  <div id="typedInputs">
    Name:
    <div id="nameInput">
      <input type="text">
    </div>
    <div>
    Email:
    <div id="emailInput">
      <input type="text">
    </div>
    <div>
    Password:
    <div id="paswordInput">
      <input type="text">
    </div>
  </div>
</div>
 