body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(51,10,110,1) 0%, rgba(92,96,135,1) 52%, rgba(2,0,36,1) 100%);
   
}


#startGame, #highscore, #login, #signup, #logOut, #stats {
    background-color: rgb(15, 15, 15);
    color: white;
    border-color: gold;
    
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#login {
    margin-right: 3%;
}

.col-md-6 {
    margin-left: 42%;
    margin-top: 20%;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#gameWindow {
    --angle: 0deg;
    background-color: black;
    color: white;
    height: 500px;
    border: 5px solid;
    border-image: linear-gradient(var(--angle), #000, #c471ed, #f64f59) 1;
    animation: 2s rotate linear infinite;
}

#gameWindow:focus {
    outline: none;
}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
}

#inputViewer {
    transition: opacity 0.5s;
}

h2, #email-login-text, #password-login-text, #email-signup-text, #password-signup-text, #name-signup-text, #userName-text {

    color: white;
}
