body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(51,10,110,1) 0%, rgba(92,96,135,1) 52%, rgba(2,0,36,1) 100%);
   
}

#login, #signup {
    background-color: rgb(15, 15, 15);
    color: white;
    border-color: gold;
    
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#login {
    margin-right: 3%;
}

.col-md-6 {
    margin-left: 42%;
    margin-top: 20%;
}